<section id="careers" class="container">
  <div class="row text-xs-center">
    <h2>{{ site.data.careers.heading }}</h1>
  </div>

  {% assign careers = site.data.careers.careers | sort:"started_at" %}
  {% for career in careers reversed%}
  <div class="col-md-3 text-md">
    {{ career.started_at : "%x" }} - {{ career.ended_at : "%x" }}
  </div>
  <div class="col-md-9">
    <p>
      {{ career.title }}<br>
      <span class="text-muted">{{ career.about }}</span>
    </p>
  </div>
  {% endfor %}
</section>
