{% capture nav_prefix %}/{{ page.lang }}/{% endcapture %}
<nav class="navbar navbar-light navbar-fixed-top">
  <div class="container">
    <button
      class="navbar-toggler hidden-sm-up pull-xs-right"
      type="button"
      data-toggle="dropdown"
      id="sections-toggler"
      aria-haspopup="true"
    >
      &#8801;
    </button>
    <div
      class="dropdown-menu dropdown-menu-right"
      aria-labelledby="sections-toggler"
    >
      <a class="dropdown-item" href="#careers"
        >{{ site.data.careers.heading }}</a
      >
      <a class="dropdown-item" href="#skills">{{ site.data.skills.heading }}</a>
      <a class="dropdown-item" href="#books">{{ site.data.books.heading }}</a>
      <a class="dropdown-item" href="#publications"
        >{{ site.data.publications.heading }}</a
      >
      <a class="dropdown-item" href="#invited_talks"
        >{{ site.data.invited_talks.heading }}</a
      >
      <a class="dropdown-item" href="#presentations"
        >{{ site.data.presentations.heading }}</a
      >
      <a class="dropdown-item" href="#interviews"
        >{{ site.data.interviews.heading }}</a
      >
      <a class="dropdown-item" href="#articles"
        >{{ site.data.articles.heading }}</a
      >
      <a class="dropdown-item" href="#posts">{{ site.data.posts.heading }}</a>
      <a class="dropdown-item" href="#grants">{{ site.data.grants.heading }}</a>
    </div>
    <div class="collapse navbar-toggleable-xs">
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a class="nav-link" href="#careers"
            >{{ site.data.careers.heading }}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">{{ site.data.skills.heading }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#books">{{ site.data.books.heading }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#publications"
            >{{ site.data.publications.heading }}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#invited_talks"
            >{{ site.data.invited_talks.heading }}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#presentations"
            >{{ site.data.presentations.heading }}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#interviews"
            >{{ site.data.interviews.heading }}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#articles"
            >{{ site.data.articles.heading }}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#posts">{{ site.data.posts.heading }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#grants">{{ site.data.grants.heading }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
